extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let kansasid = toShow._id 
    - let kansas_type = toShow.population
    - let kansascost = toShow.airports
    - let kansassize = toShow.outlets 

    - let actionid = "/resource/kansass/" + kansasid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='kansasAttr mr-3') Kansas ID is: 
        div #{kansasid} 
      div.row 
        div(class='kansasAttr mr-3') Kansas Type is: 
        div #{kansas_type} 
      div.row 
        div(class='kansasAttr mr-3') Kansas Size is: 
        div #{kansassize} 
      div.row 
        div(class='kansasAttr mr-3') Kansas Cost is: 
        div #{kansascost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the kansas collection 
      window.location.href='/kansas' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE' 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/kansas' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 